<!DOCTYPE html>
<html>
<head>
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="navbar">404 - Not Found</div>
    <div class="container">
        <h1>404 - Page Not Found</h1>
        <a hr